In [9]:
print(23 ** 8)
print(pow(23, 8))
print(5 % 2)

78310985281
78310985281
1

print('My mother\'s maiden name is O\'Reilly')

In [14]:
print('My mother\'s maiden name is O\'Reilly')
print("""My mother's maiden name is O'Reilly and their family motto is "Let's eat!" """)

My mother's maiden name is O'Reilly
My mother's maiden name is O'Reilly and their family motto is "Let's eat!"

In [26]:
name = input("What is your name? ")

if name == "Andy":
    print("Welcome to your computer, Andy!")
elif name == "Joan":
    print("Welcome to Andy's computer, Joan!")
else:
    print("Get off Andy's computer, " + name + "!")

What is your name? Bob
Get off Andy's computer, Bob!

In [29]:
name = input("What is your name? ")
age = int(input("What is your age? "))

if name == "Andy" and age == 37:
    print("Welcome to your computer, Andy!")
elif name == "Joan":
    print("Welcome to Andy's computer, Joan!")
else:
    print("Get off Andy's computer, " + name + "!")

What is your name? Andy
What is your age? 37
Welcome to your computer, Andy!

In [30]:
print(int(3.5))

3

In [31]:
print(int(2.5) + 3)

5

In [42]:
my_list = ["item_one", 23, 13.13, 90, "andy"]

In [33]:
print(my_list)

['item_one', 23, 13.13]

In [34]:
print(my_list[0])

item_one

In [44]:
print(my_list[3:1:-1])

[90, 13.13]

In [45]:
my_tuple = ("item_one", 23, 13.13, 90, "andy")

In [46]:
my_tuple[1]

23

In [47]:
my_list.append("new_item")

In [48]:
my_list

['item_one', 23, 13.13, 90, 'andy', 'new_item']

In [53]:
for item in my_list:
    print("High Five @ ", item)

High Five @  item_one
High Five @  23
High Five @  13.13
High Five @  90
High Five @  andy
High Five @  new_item

In [54]:
for letter in "Andy likes books":
    print(letter)

A
n
d
y

l
i
k
e
s

b
o
o
k
s

In [62]:
my_dict = {"names": ["Andy", "Zach", "Matt", "Matt", "Travis"], "ages": ["37", "33", "23", "24", "31"]}

In [61]:
my_dict["names"]

['Andy', 'Zach', 'Matt', 'Matt', 'Travis']

In [65]:
for key in my_dict:
    print(key)
    print(my_dict[key])

ages
['37', '33', '23', '24', '31']
names
['Andy', 'Zach', 'Matt', 'Matt', 'Travis']